<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Ion Stat</display-name>


	<!-- Session time out is set to 12 hours. -->
	<session-config>
		<session-timeout>720</session-timeout>
	</session-config>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:org/strmln/ionstat/dao/spring/applicationContext-hibernate.xml
			classpath:org/strmln/ionstat/service/spring/applicationContext-service.xml
			classpath:org/strmln/ionstat/task/handler/spring/applicationContext-tasks.xml
			classpath:org/strmln/ionstat/mvc/spring/applicationContext-mvc.xml
			classpath:org/strmln/ionstat/mvc/spring/applicationContext-security.xml
		</param-value>
	</context-param>

	<servlet>
		<servlet-name>ionstat</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>ionstat</servlet-name>
		<url-pattern>*.is</url-pattern>
	</servlet-mapping>

</web-app>